mixin add-album(album = {})
  aside.mdc-dialog(
    role='alertdialog',
    aria-labelledby='my-mdc-dialog-label',
    aria-describedby='my-mdc-dialog-description'
    id= album.id ? 'edit-album' : 'add-album'
  )
    form(action='/albums' method='POST' enctype='multipart/form-data').mdc-dialog__surface
      +method('PUT')
      +csrf(csrf)
      header.mdc-dialog__header
        h2#my-mdc-dialog-label.mdc-dialog__header__title Add Album

      section#my-mdc-dialog-description.mdc-dialog__body
        label.mdc-textfield(data-mdc-auto-init='MDCTextfield' style='width: 400px; margin-bottom: 20px;')
          input.mdc-textfield__input(type='text' name='name' required value=album.name)
          span.mdc-textfield__label Name
          .mdc-textfield__bottom-line

        .mdc-textfield.mdc-textfield--textarea(style='width: 400px; margin-bottom: 20px;')
          textarea#bio.mdc-textfield__input(name='description' rows=5 placeholder='Album description')= album.description

        label(style='display: block;')
          if (album.cover)
            img(src=album.cover.url height='100')
          else
            | Album cover
          br
          input(type='file' name='cover')

      footer.mdc-dialog__footer
        button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel(type='button') Decline
        button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--accept(type='submit') Accept
    .mdc-dialog__backdrop
