mixin album(album)
  .mdc-card
    a(href=`/albums/${album.id}`)
      img(src=album.cover.path.replace('public', '') alt=album.name style='max-width: 100%; height: auto;')
    section.mdc-card__primary
      h1.mdc-card__title= album.name
      h2.mdc-card__subtitle #{album.photos.length} photos
      .mdc-typography--caption.mdc-theme--primary-light= 'added ' + moment(album.createdAt).fromNow()
    //- section.mdc-card__actions
      button.mdc-button.mdc-button--compact.mdc-card__action Edit
