mixin comments(photo)
  .mdc-card.photo-card.photo-card--with-avatar(style='height: 100%; justify-content: flex-start;')
    .mdc-card__primary
      a.photo-card__avatar-link(href=`/users/${photo.album.author.id}` title=photo.album.author.displayName)
        img.photo-card__avatar(src=photo.album.author.avatar alt=photo.album.author.displayName)
      h1.mdc-card__title= photo.name
      h2.mdc-card__subtitle
        a.mdc-theme--primary(href=`/albums/${photo.album.id}`)= photo.album.name
    div

    .mdc-card__supporting-text
      button.mdc-button.mdc-button--raised.mdc-ripple-upgraded(data-mdc-auto-init="MDCRipple")
        i.material-icons.mdc-button__icon favorite
        | Like
      p #{photo.likesCount} likes &middot; 0 comments
      .mdc-typography--caption.mdc-theme--primary-light= moment(photo.createdAt).fromNow()

      form(action=`photos/${photo.id}/comments` method='POST')
        +method('PUT')
        +csrf(csrf)
        label.mdc-textfield(data-mdc-auto-init='MDCTextfield' style='width: 100%;')
          input.mdc-textfield__input(type='text' name='text' required)
          span.mdc-textfield__label Add a comment...
          .mdc-textfield__bottom-line

      ul.mdc-list.mdc-list--two-line.mdc-list--dense.mdc-list--avatar-list
        for comment in photo.comments
          li.mdc-list-item
            img.mdc-list-item__start-detail.grey-bg(src=comment.author.avatar)
            span.mdc-list-item__text
              | #{comment.author.displayName}
              span.mdc-list-item__text__secondary= comment.text
          li.mdc-list-divider.mdc-list-divider--inset
