mixin photo(photo)
  .mdc-card.photo-card
    section.mdc-card__primary
      a(href=`/users/${photo.album.author.id}`)
        img.photo-card__avatar(src=photo.album.author.avatar alt=photo.album.author.displayName title=photo.album.author.displayName)
      h1.mdc-card__title= photo.name
      //- h2.mdc-card__subtitle: a(href=`/users/${photo.album.author.id}`)= photo.album.author.displayName
      h2.mdc-card__subtitle: a(href=`/albums/${photo.album.id}`)= photo.album.name
    img(src=photo.url alt=photo.name style='max-width: 100%; height: auto;')
    section.mdc-card__supporting-text
      //- a.mdc-theme--secondary(href=`/albums/${photo.album.id}`)= photo.album.name
      div #{photo.likesCount} likes &middot; 0 comments
      .mdc-typography--caption.mdc-theme--primary-light= 'added ' + moment(photo.createdAt).fromNow()
    //- section.mdc-card__actions
      a.mdc-button.mdc-button--compact.mdc-card__action(href=`/photos/${photo.id}/like`)= photo.isLiked ? 'unlike' : 'like'
      button.mdc-button.mdc-button--compact.mdc-card__action Comment


    //- div Comments
    //- form(action=`photos/${photo.id}/comments` method='POST')
      +method('PUT')
      +csrf(csrf)
      input(name='text')
      button(type='submit') add comment
    //- ul
      each comment in photo.comments
        li
          div(style='display:flex;')
            img(src=comment.author.avatar width=50 height=50 style='margin-right: 15px;')
            div
              div: b= comment.author.displayName
              div= comment.text