include /mixins/comments

mixin photo-card(photo, inAlbum = false)
  .mdc-card(class= 'photo-card ' + (!inAlbum ? 'photo-card--with-avatar' : ''))
    //- section.mdc-card__primary
      if (!inAlbum)
        a.photo-card__avatar-link(href=`/users/${photo.album.author.id}` title=photo.album.author.displayName)
          img.photo-card__avatar(src=photo.album.author.avatar alt=photo.album.author.displayName)
      h1.mdc-card__title= photo.name
      if (!inAlbum)
        h2.mdc-card__subtitle
          a.mdc-theme--primary(href=`/albums/${photo.album.id}`)= photo.album.name

    a(
      href=photo.url
      data-caption=photo.description || photo.name
      data-sub-html=`#comments-${photo.id}`
    )
      img.photo-card__photo(src=photo.url alt=photo.name)

    //- section.mdc-card__supporting-text
      div #{photo.likesCount} likes &middot; 0 comments
      .mdc-typography--caption.mdc-theme--primary-light= moment(photo.createdAt).fromNow()

  template(id=`comments-${photo.id}`)
    +comments(photo)

    //- section.mdc-card__actions
      a.mdc-button.mdc-button--compact.mdc-card__action(href=`/photos/${photo.id}/like`)= photo.isLiked ? 'unlike' : 'like'
      button.mdc-button.mdc-button--compact.mdc-card__action Comment
