extends /layout

include /mixins/photo-card
include /mixins/album-header
include /mixins/add-album
include /mixins/add-photos

block content
  include /partials/toolbar

  main.mdc-toolbar-fixed-adjust.page-main
    +album-header(album)

    .mdc-layout-grid
      .mdc-layout-grid__inner
        each photo in album.photos
          .mdc-layout-grid__cell
            +photo-card(photo, true)

  include /partials/footer

  +add-album(album)
  +add-photos(album)



  //- .container
      h3 Delete album
      form(action=`/albums/${album.id}` method='POST')
        +csrf(csrf)
        +method('DELETE')
        p: button Delete album
      hr

    h3 Photos (#{album.photos.length})
    ul(style='display: flex; list-style: none; padding: 0;')
      each photo in album.photos
        li(style='margin: 0 15px;')
          P: img(src=photo.url width=200 alt=photo.name)
          if (user.id === album.author.toString())
            form(action=`/photos/${photo.id}` method='POST')
              +csrf(csrf)
              +method('PATCH')
              p: input(name='name' placeholder='Name' value=photo.name)
              p: input(name='description' placeholder='Description' value=photo.description)
              p: button Submit

            form(action=`/photos/${photo.id}` method='POST')
              +csrf(csrf)
              +method('DELETE')
              p: button Delete photo
