extends /layout

block content
  include /includes/edit-dialog

  header.page-header(style=`background: url("${user.background}") center / cover;`)
    .page-header__inner
      img(src=user.avatar width=150 height=150).page-header__photo
      .page-header__body
        p.mdl-typography--display-1= user.displayName
        p.page-header__about= user.bio
        ul.page-header__links
          li: a(href=`mailto:${user.email}`) Email
          if user.githubProfileUrl
            li: a(href=user.githubProfileUrl target='_blank') GitHub
        .page-header__actions
          button(data-show-modal href='#edit-dialog')#edit.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored.mdl-js-ripple-effect
            i.material-icons edit
          .mdl-tooltip.mdl-tooltip--large.mdl-tooltip--left(for='edit') Profile
          a(href='/logout')#logout.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored.mdl-js-ripple-effect
            i.material-icons power_settings_new
          .mdl-tooltip.mdl-tooltip--large.mdl-tooltip--left(for='logout') Logout

  .container
    //- pre= user
    h2 Add album
    form(action='/albums' method='POST' enctype='multipart/form-data')
      +method('PUT')
      +csrf(csrf)
      p: input(name='name' placeholder='Name')
      p: input(name='description' placeholder='Description')
      P: input(name='cover' type='file')
      P: button(type='submit') Submit

    h2 My albums
      ul
        each album in user.albums
          li
            img(src=album.cover.path.replace('public', '') width=200 alt=album.name)
            h4: a(href=`/albums/${album.id}`)= album.name
            p= album.description
            p= album.photos.length + ' photos'
            p= 'created ' + moment(album.createdAt).fromNow()

    h2 Latest photos
      ul
        each photo in photos
          li
            img(src=photo.path.replace('public', '') width=200 alt=photo.name)
            h5= photo.name
            p
              | album:
              |
              a(href=`/albums/${photo.album.id}`)= photo.album.name
            p
              | author:
              |
              a(href=`/users/${photo.album.author.id}`)= photo.album.author.displayName
            p= 'added ' + moment(photo.createdAt).fromNow()

