extends /layout

block content
  include /includes/edit-dialog

  header.page-header(style=`height: 250px; background: url("${user.background.replace('public', '')}") top / cover;`)
    .page-header__inner
      img(src=user.avatar.replace('public', '') width=150 height=150).page-header__photo
      .page-header__body
        p.mdl-typography--display-1= user.displayName
        p.page-header__about= user.bio
        ul.page-header__links
          li: a(href=`mailto:${user.email}`) Email
          if user.githubProfileUrl
            li: a(href=user.githubProfileUrl target='_blank') GitHub
        .page-header__actions
          button(data-show-modal href='#edit-dialog')#edit.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored.mdl-js-ripple-effect
            i.material-icons edit
          .mdl-tooltip.mdl-tooltip--large.mdl-tooltip--left(for='edit') Profile
          a(href='/logout')#logout.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored.mdl-js-ripple-effect
            i.material-icons power_settings_new
          .mdl-tooltip.mdl-tooltip--large.mdl-tooltip--left(for='logout') Logout

  .container
    br
    h2 Add album
    form(action='/albums' method='POST' enctype='multipart/form-data')
      +method('PUT')
      +csrf(csrf)
      p: input(name='name' placeholder='Name')
      p: input(name='description' placeholder='Description')
      P: input(name='cover' type='file')
      P: button(type='submit') Submit
    hr

    h2 My albums
    ul(style='display: flex; list-style: none; padding: 0;')
      each album in user.albums
        li(style='margin: 0 15px;')
          img(src=album.cover.url width=200 alt=album.name)
          h4: a(href=`/albums/${album.id}`)= album.name
          div= album.description
          div= album.photosCount + ' photos'
          div= 'created ' + moment(album.createdAt).fromNow()
    hr

    h2 Latest photos
    ul(style='display: flex; list-style: none; padding: 0; flex-wrap: wrap;')
      each photo in photos
        li(style='margin: 15px;')
          p
            img(src=photo.url width=200 alt=photo.name)
          h5(style='margin-bottom: 5px;')= photo.name
          div
            | album:
            |
            a(href=`/albums/${photo.album.id}`)= photo.album.name
          div
            | author:
            |
            a(href=`/users/${photo.album.author.id}`)= photo.album.author.displayName
          div= 'added ' + moment(photo.createdAt).fromNow()
          div
            a(href=`/photos/${photo.id}/like`)= photo.isLiked ? 'unlike' : 'like'
            |
            | &middot; #{photo.likesCount}
          hr
          div Comments
          form(action=`photos/${photo.id}/comments` method='POST')
            +method('PUT')
            +csrf(csrf)
            input(name='text')
            button(type='submit') add comment
          ul
            each comment in photo.comments
              li
                div(style='display:flex;')
                  img(src=comment.author.avatar width=50 height=50 style='margin-right: 15px;')
                  div
                    div: b= comment.author.displayName
                    div= comment.text

  footer(style=`height: 150px; background: url("${user.background.replace('public', '')}") bottom / cover;`)
