extends /layout

block content
  .container
    h1= currentUser.displayName

    h2 Albums
    ul(style='display: flex; list-style: none; padding: 0;')
      each album in currentUser.albums
        li(style='margin: 0 15px;')
          img(src=album.cover.path.replace('public', '') width=200 alt=album.name)
          h4: a(href=`/albums/${album.id}`)= album.name
          p= album.description
          p= album.photos.length + ' photos'
          p= 'created ' + moment(album.createdAt).fromNow()