mixin add-photos(album)
  aside.mdc-dialog(
    role='alertdialog',
    aria-labelledby='my-mdc-dialog-label',
    aria-describedby='my-mdc-dialog-description'
    id='add-photos'
  )
    .mdc-dialog__surface
      header.mdc-dialog__header
        h2#my-mdc-dialog-label.mdc-dialog__header__title Add Photos

      section#my-mdc-dialog-description.mdc-dialog__body
        form#add-photos-form.dropzone(action=`/albums/${album.id}/photos`)
          +csrf(csrf)
          +method('PUT')
          .fallback
            input(name='file' type='file' multiple)

      footer.mdc-dialog__footer
        button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--accept(type='button') Close
    .mdc-dialog__backdrop
